.emptyState {
	color: var(--color-white);
	font-size: 16px;
}

.main {
	color: var(--color-white);
}

.blogList {
	margin-bottom: 80px;
}

@media (max-width: 720px) {
	.emptyState {
		text-align: center;
	}

	.main {
		padding: 0 16px;
	}
}
