.blogList {
	margin-bottom: 80px;
}

.blogItem {
	color: var(--color-white);
	max-width: 800px;
	margin-bottom: 80px;
}

.blogTitle {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 14px;
	word-break: break-word;
}

.blogText {
	font-size: 14px;
	word-break: break-word;
}

.blogDate {
	font-size: 12px;
	margin-top: 12px;
	color: var(--color-gray-500);
}

.text {
	color: var(--color-white);
}
