.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filterBar {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.artistsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: flex-start;
}

.emptyState {
	color: var(--color-gray-500);
	font-size: 16px;
}
