.sideNav {
	width: clamp(170px, 20vw, 335px);
	height: 100%;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--color-dark, #171515);
	color: var(--color-white, #ffffff);
	padding: 20px clamp(40px, 5vw, 80px);
}

.navList {
	display: flex;
	flex-direction: column;
	width: max-content;
	gap: 9px;
}

.navItem {
	list-style: none;
}
