:root {
	--color-white: #ffffff;
	--color-gray-100: #f5f5f5;
	--color-gray-200: #eeeeee;
	--color-gray-300: #e0e0e0;
	--color-gray-400: #bdbdbd;
	--color-gray-500: #9e9e9e;
	--color-gray-600: #757575;
	--color-gray-700: #5b5a5a;
	--color-gray-800: #424242;
	--color-dark: #171515;
	--color-black: #000000;

	--color-yellow: #fffd87;
	--color-gold: #ffd700;

	--color-light-green: #94d3a2;
	--color-acid-green: #98ff59;
	--color-green: #28a745;
	--color-dark-green: #19692c;

	--color-blue: #007bff;
	--color-logo-blue: #001aff;
	--color-dark-blue: #0056b3;

	--color-red: #ff3b30;
	--color-dark-red: #c1271a;

	--color-shadow: rgba(0, 0, 0, 0.1);

	--font-primary: "MS Sans Serif", sans-serif;

	/* 
  --color-gray-700: #616161;
  --color-gray-900: #212121;  */
}
