.main {
	color: var(--color-white);
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 300px));
	gap: clamp(10px, 3vw, 60px);
	align-items: start;
	margin-right: clamp(20px, 3vw, 40px);
}

.galleryItem {
	margin-bottom: 80px;
	max-width: 300px;
}

.galleryImage {
	width: 300px;
	min-width: 170px;
	height: auto;
}

.linkButtonContainer {
	margin: 30px 15px 0;
	padding: 4px;
	text-align: center;
	border: 1px solid var(--color-white);
	cursor: pointer;
}

.linkButton {
	padding: 10px;
	color: var(--color-white);
	text-decoration: none;
}

@media (max-width: 720px) {
	.main {
		padding: 0 16px;
		margin-right: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: clamp(20px, 4vw, 60px);
	}

	.galleryItem {
		margin-bottom: 80px;
		max-width: 250px;
	}
}

@media (max-width: 555px) {
	.main {
		justify-content: center;
	}
}
