.emptyState {
	color: var(--color-white);
	font-size: 16px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--color-white);
}

.text {
	color: var(--color-white);
}

@media (max-width: 720px) {
	.emptyState {
		text-align: center;
	}

	.main {
		padding: 0 16px;
	}
}
