.loaderContainer {
	margin-top: 100px;
	margin-left: 100px;
}

.main {
	margin-bottom: 100px;
}

.newsList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--color-white);
	margin-top: 50px;
}
