.blogItem {
	color: var(--color-white);
	max-width: 800px;
	margin-bottom: 80px;
}

.blogTitle {
	font-size: 14px;
	color: #94946b;
	margin-bottom: 4px;
	line-height: 1.2;
	word-break: break-word;
}

.blogText {
	font-size: 14px;
	line-height: 1.2;
	word-break: break-word;
}

.imagesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 16px;
	margin-top: 4px;
	margin-bottom: 24px;
	align-items: start;
}

.imageItem {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.galleryImage {
	width: 100%;
	max-width: 290px;
	height: auto;
	display: block;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.imageDescription {
	color: var(--color-white);
	font-size: 14px;
	padding: 8px 10px 8px 0;
	margin: 0;
}

.blogDate {
	font-size: 12px;
	margin-top: 12px;
	color: var(--color-gray-500);
}
