.winButton {
	background-color: var(--color-gray-400);
	font-family: var(--font-primary);
	font-size: 14px;
	font-weight: bold;
	color: var(--color-dark);
	padding: 4px 10px;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	border-top: 2px solid var(--color-white);
	border-left: 2px solid var(--color-white);
	border-right: 2px solid var(--color-gray-600);
	border-bottom: 2px solid var(--color-gray-600);
	box-shadow: 1px 1px 0px var(--color-dark);
	cursor: pointer;
	user-select: none;
	height: 25px;
}

.winButton:active {
	border-top: 2px solid var(--color-gray-600);
	border-left: 2px solid var(--color-gray-600);
	border-right: 2px solid var(--color-white);
	border-bottom: 2px solid var(--color-white);
	box-shadow: inset 1px 1px 0px var(--color-dark);
	padding: 5px 9px 3px 11px;
}

.winButton span {
	text-transform: lowercase;
	font-size: 14px;
	letter-spacing: 1px;
}
