.container {
	padding: 4px 5px;
	background-color: var(--color-gray-800);
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
	max-width: fit-content;
}

.photo {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--color-gray-400);
	object-fit: cover;
}

.name {
	color: var(--color-white);
	font-size: 18px;
}
